path.line {
  stroke: rgb(26, 154, 249);
}

#chart-example {
  position: relative;
  top: 10px;
} 

.extent {
  stroke: #D1D1E0;
  fill-opacity: 0.125;
  shape-rendering: crispEdges;
}


@media (min-width: 600px){
  .container {
    width: 600px;
  }
}
@media (max-width: 600px){
  .container {
    width: 100%;
  }
}